@import "variables";
@import "mixins";

mat-card.item {
	height: 320px;
	padding: 0px;
	mat-card-content {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		img {
			max-height: 320px;
			max-width: 100%;
			transition: all ease-in-out 0.2s;
		}
	}
}
