app-header {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 64px;
}

mat-drawer-container.site-container {
	position: absolute;
	top: 64px;
	left: 0;
	right: 0;
	bottom: 0;
}

.site-content {
	padding: 48px;
}
