@import "variables";

.primary-text {
	color: $primary-color;
}

.accent-text {
	color: $accent-color;
}

.warn-color {
	color: $warn-color;
}

.no-padding {
	padding: 0;
	mat-dialog-container {
		padding: 0;
	}
}

.overflow-auto {
	overflow: auto;
}
