@import "variables";
@import "mixins";

.items-container {
	display: grid;
	grid-template-columns: repeat(3, 33.333%);
}

mat-card.item {
	height: 320px;
	padding: 0px;
	margin: 4px;
	cursor: pointer;
	transition: all ease-in-out 0.2s;
	mat-card-content {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		img {
			max-height: 320px;
			max-width: 100%;
		}
	}

	&:hover {
		transform: scale(1.01);
	}
}
